body {
    background-color: #fff;

}

/* Header */
header {
    background-color: #1361AC;
}

nav {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul {
    padding-right: 20px;
}

nav ul li {
    color: #fff;
    font-size: 16px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    display: inline-block;
    margin-right: 14px;
    line-height: 18px;
    text-transform: uppercase;
    cursor: pointer;
}

nav ul li a {
    color: #fff;
    font-size: 16px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    text-decoration: none;
}

/* Banner */
.banner {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-align: center;
}

.main-heading {
    margin-top: 10px;
    font-size: 3.2em;
}

.sub-title {
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    height: 40px;
    background: #1361AC;
    /* background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(19,97,172,1) 35%, rgba(8,37,43,1) 100%); */
}

.menu ul li {
    display: inline-block;
    font-size: 14px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    margin-right: 20px;
    cursor: pointer;
}

.menu ul li a {
    color: #fff;

    &:hover {
        text-decoration: none;
    }
}

/* Additional styles to ensure proper carousel display */
.owl-carousel {
    display: flex;
    justify-content: center;
    position: relative;
}

.owl-carousel .item img {
    width: 100%;
    height: 300px;
    /* Set a fixed height for all images */
    object-fit: cover;
    /* Maintain aspect ratio and cover container */
}

.owl-item {
    flex: 0 0 auto;
}

.img-carousel .owl-nav {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    font-size: 40px;
}

.img-carousel .owl-nav button {
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.img-carousel .owl-prev {
    left: 10px;
}

.img-carousel .owl-next {
    right: 10px;
}

.img-carousel .owl-dots {
    text-align: center;
}


.img-carousel .owl-dots button {
    background: transparent;
    border: none;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    cursor: pointer;
}

.img-carousel .owl-dots button.active {
    /* background: #000; */
}

/* Data Carasoul--- */
.card {
    display: block;
    margin: 10px 0px;
    padding: 20px 25px 10px 25px;
    margin: 0px;
    margin: 15px 15px;
    padding: 20px 5px 20px 5px;
    border: none;
    text-align: center;
    position: relative;
    background: transparent;
    z-index: 1;
    transition: all ease 0.5
}

.fa-building-ngo {
    font-size: 50px;
    margin-bottom: 10px;
}

/* Sections for Menu */
.menu-item-sections {
    padding: 20px;
    width: 70%;
    margin: auto;
}

.section-title {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    margin: 16px 0;
}

.move-top {
    display: flex;
    justify-content: flex-end;
    width: 70%;
    margin: auto;
    font-size: 1.2em;
    cursor: pointer;
}

.section-p {
    font-size: 1em;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    line-height: 24px;
}

.list-heading {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    line-height: 24px;
    margin-bottom: 10px;
    font-weight: bold;
    text-decoration: underline;
}

.menu-item-sections ul {
    list-style-type: disc;
    margin-left: 5%;
}

.menu-item-sections ul li {
    margin-bottom: 16px;
}
/* Service Carousel */
.services-carousel .item {
    border: 1px solid #ccc;
    min-height: 500px;
    height: auto;
    box-shadow:14px 16px 11px -4px #91989e;
    border-radius: 15px;
}
.services-carousel .item .over-layer{
    width:100%;
    min-height: 500px;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    opacity:0;
    background: linear-gradient(-45deg, rgba(6,190,244,0.75) 0%, rgba(45,112,253,0.6) 100%);
    transition:all 0.50s linear;
}
.services-carousel .item .over-layer:hover{
    opacity:1;
    text-decoration:none;
    border-radius: 15px;
}
.services-carousel  .over-layer i{
    position: relative;
    top:45%;
    text-align:center;
    display: block;
    color:#fff;
    font-size:25px;
}
/* Other SErvices section */
#other-services {
    margin-top: 20px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 14x;
}

.custom-shape {
    position: relative;
    z-index: 88;
    padding: 0;
    transform: rotate(0deg) !important;
    margin-top: 75px;
    /* margin-bottom: -190px; */
}

.custom-shape:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0px;
        background-repeat: no-repeat;
        background-position: right;
        background: #e8f3f9;
        border-radius: 0 200px 0 200px;
        transform: skewY(-6deg);
}

@media (max-width: 700px) {
    .main-heading {
        margin-top: 10px;
        font-size: 2em;
    }

    .sub-title {
        font-size: 1em;
    }
}
